<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032511824560-2na5jmg511ic517r699ks64k2plq5q1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032511824560-2na5jmg511ic517r699ks64k2plq5q1e</string>
	<key>API_KEY</key>
	<string>AIzaSyD4h9WVlCPtq6kXggM1miQDzBd0jf4z4e8</string>
	<key>GCM_SENDER_ID</key>
	<string>1032511824560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.development.bballtrivia</string>
	<key>PROJECT_ID</key>
	<string>basketballtrivia-9b6d6</string>
	<key>STORAGE_BUCKET</key>
	<string>basketballtrivia-9b6d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032511824560:ios:392276c85de8897c87d175</string>
	<key>DATABASE_URL</key>
	<string>https://basketballtrivia-9b6d6.firebaseio.com</string>
</dict>
</plist>